@model List<Product>

@{
    ViewData["Title"] = "Buy iPhones - Like Zone Mobile Shop";
}

<div class="container">
    <main class="main-content">
        <h1>Buy iPhones</h1>
        <div class="products-grid">
            @foreach (var product in Model)
            {
                <div class="product" data-name="@product.Name">
                    <img src="@product.ImageUrl" alt="@product.Name">
                    <h3>@product.Name</h3>
                    <p class="price">From <span>@product.Price</span></p>
                    <a href="/Product/Details/@product.ProductId"><button>Buy Now</button></a>
                </div>
            }
        </div>
    </main>
</div>
